<!DOCTYPE HTML>
<HTML>
    <head>
        <title>Video Search Engine</title>
        <style>
            .SearchBar {
                position: absolute;
                top: 35px;
                left: 250px;
            }
            .SearchBar input {
     			height: 20px;
     			width: 750px;
			}
			
        </style>
    </head>
    <body>

        <div class="SearchBar">
         	<form action="/koppar" method="POST">
  				<input type="text" name="video" placeholder="Search"><br><br>
 				<input type="submit" value="Submit">
			</form>
        </div>
       
    </body>
</HTML>